<div class="hero-image" [style.height]="height + 'px'">
    <app-hamburger-icon id="hamburger" (notify)="openMenu()"></app-hamburger-icon>
    <div class="hero-text">
        <p class="xs-text-1">Granbery Consultoria</p>
        <p class="xs-text-3">Administração & Sistema de Informação</p>
    </div>
</div>


<div class="menu" id="menu" [ngClass]="{'active' : valueClick, 'inactive': !valueClick}" [style.height]="height + 'px'">
    <ul class="ul-menu" *ngIf="valueClick">
        <li class="li-menu">
            <a>
                <span class="link-span">
                    <span class="white-row"></span>
                    <span class="link-title">Home</span>
                </span>
            </a>
        </li>
        <li class="li-menu">
            <a>
                <span class="link-span">
                    <span class="white-row"></span>
                    <span class="link-title">Institucional</span>
                </span>
            </a>
        </li>
        <li class="li-menu">
            <a>
                <span class="link-span">
                    <span class="white-row"></span>
                    <span class="link-title">Blog</span>
                </span>
            </a>
        </li>
    </ul>
</div>