<h1 class="titulo">Institucional</h1>

<div class="clearfix">
    <div class="col xs-col-6">
        <h2 class="titulo">Missão</h2>

        <div class="texto">
            Formar melhores pessoas e empreendedores, através da vivência empresarial e da excelência em consultoria, 
            impactando nossa comunidade por meio de nossos projetos.
        </div>
    </div>

    <div class="col xs-col-6">
        <h2 class="titulo">Visão</h2>

        <div class="texto">
            Em 2018, tornarmos referência por sermos uma Empresa Jr que oferece serviços diferenciados, com foco na busca de aprendizagem, 
            do crescimento e da inovação.
        </div>
    </div>
</div>

<div class="clearfix">

</div>

<h2 class="titulo">Valores</h2>

<div class="clearfix">
    <div class="col xs-col-3">
        <div class="card">
            <i class="fa fa-address-book fa-4x" aria-hidden="true"></i>
            <div class="container">
                <h4><b>Ética</b></h4>
                <p class="descricao">
                    Somos apaixonados pelo nosso trabalho e trabalhamos por um movimento em que acreditamos. 
                    Nosso orgulho de ser júnior é o que nos faz gigantes pela própria natureza
                </p> 
            </div>
        </div>
    </div>

    <div class="col xs-col-3">
        <div class="card">
            <i class="fa fa-address-book fa-4x" aria-hidden="true"></i>
            <div class="container">
                <h4><b>Orgulho em ser GC</b></h4>
                <p class="descricao">
                    Somos apaixonados pelo nosso propósito e acreditamos no legado que queremos deixar para as próximas gerações. 
                    Isso nos faz ter orgulho de vestir nossa camisa
                </p>
            </div>
        </div>
    </div>
    
    <div class="col xs-col-3">
        <div class="card">
            <i class="fa fa-address-book fa-4x" aria-hidden="true"></i>
            <div class="container">
                <h4><b>Transparência</b></h4>
                <p class="descricao">
                    Somos transparentes com nossos clientes nos erros e acertos, priorizando sempre o nosso compromisso com a verdade
                </p> 
            </div>
        </div>
    </div>

    <div class="col xs-col-3">
        <div class="card">
            <i class="fa fa-address-book fa-4x" aria-hidden="true"></i>
            <div class="container">
                <h4><b>Foco em Resultado</b></h4>
                <p class="descricao">
                    A agregação de valor, superação das expectativas do nosso cliente e o nosso crescimento perene é o que nos move
                </p> 
            </div>
        </div>
    </div>
</div>

<div class="clearfix">
    <div class="col xs-col-4">
        <div class="card">
            <i class="fa fa-address-book fa-4x" aria-hidden="true"></i>
            <div class="container">
                <h4><b>Qualidade & Inovação</b></h4>
                <p class="descricao">
                    Nosso maior desafio é oferecer serviços diferenciados e inovadores, que proporcionem a satisfação do cliente 
                    e o desenvolvimento contínuo de nossos membros
                </p> 
            </div>
        </div>
    </div>

    <div class="col xs-col-4">
        <div class="card">
            <i class="fa fa-address-book fa-4x" aria-hidden="true"></i>
            <div class="container">
                <h4><b>Credibilidade</b></h4>
                <p class="descricao">
                    Passar confiança e segurança a quem sempre confiou em nosso trabalho é uma de nossas premissas
                </p>
            </div>
        </div>
    </div>
    
    <div class="col xs-col-4">
        <div class="card">
            <i class="fa fa-address-book fa-4x" aria-hidden="true"></i>
            <div class="container">
                <h4><b>Comprometimento</b></h4>
                <p class="descricao">
                    Tratamos os problemas de nossos clientes como se fossem os nossos problemas. Prezamos pelo nosso compromisso
                </p> 
            </div>
        </div>
    </div>
</div>
