<div id="testimonials" class="container-box">
    <h1 class="text-center">Depoimentos</h1>
    <div class="swiper-container" [swiper]="config" [(index)]="index">
        <div class="swiper-wrapper">
            <div *ngFor="let depoimento of depoimentos" class="swiper-slide">
                <div class="col col-xs-12">
                    <img class="image-testimonial" src="{{depoimento.caminhoFoto}}">
                </div>
                <div class="col col-xs-12">
                    <div class="month-year title" data-swiper-parallax="-300">
                        <p>{{depoimento.nome}}</p>
                    </div>
                    <div class="cargo" data-swiper-parallax="-200">
                        <p>{{depoimento.cargo}}</p>
                    </div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>{{depoimento.texto}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination "></div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev "></div>
        <div class="swiper-button-next "></div>
    </div>
</div>