<div id="services" class="fh5co-bg-section">
    <div class="container">
        <h1 class="text-center">Serviços</h1>
        <div class="row">
            <div class="col col-md-4 col-sm-4 col-xs-12">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="fa fa-desktop"></i>
                    </span>
                    <h3>Tecnologia</h3>
                    <ul>
                        <li>Desenvolvimento de Website</li>
                        <li>Manutenção de Website</li>
                        <li>Hospedagem de Website</li>
                        <li>Desenvolvimento de Aplicações Web</li>
                        <li>E-commerce</li>
                    </ul>
                </div>
            </div>
            <div class="col col-md-4 col-sm-4 col-xs-12">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </span>
                    <h3>Finanças</h3>
                    <ul>
                        <li>Valuation</li>
                        <li>Gestão de Caixa</li>
                        <li>Apuração e Análise de Custos</li>
                        <li>Formação do Preço de Venda</li>
                    </ul>
                </div>
            </div>
            <div class="col col-md-4 col-sm-4 col-xs-12">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="fa fa-line-chart"></i>
                    </span>
                    <h3>Marketing</h3>
                    <ul>
                        <li>Pesquisa de Mercado</li>
                        <li>Plano de Marketing</li>
                        <li>Pesquisa de Opinião e Satisfação</li>
                    </ul>
                </div>
            </div>
            <div class="col col-md-4 offset-sm-2 col-sm-4 col-xs-12">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <h3>Gestão de Pessoas</h3>
                    <ul>
                        <li>Pesquisa de Clima Organizacional</li>
                    </ul>
                </div>
            </div>
            <div class="col col-md-4 col-sm-4 col-xs-12">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="fa fa-map-signs" aria-hidden="true"></i>
                    </span>
                    <h3>Estratégica de Negocios</h3>
                    <ul>
                        <li>Plano de Negócios</li>
                        <li>Planejamento Estratégico</li>
                        <li>Mapeamento de Processos</li>
                        <li>Levantamento Patrimonial</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>