<div class="container">
    <h1 class="xs-text-1">Serviços</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col md-col-4 sm-col-6 xs-col-12">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-laptop"></i>
                </div>
                <h3 class="title">Tecnologia</h3>
                <ul class="list-unstyled description">
                    <li>Desenvolvimento de Website</li>
                    <li>Manutenção de Website</li>
                    <li>Hospedagem de Website</li>
                    <li>Desenvolvimento de Aplicações Web</li>
                    <li>E-Commerce</li>
                </ul>
            </div>
        </div>
        <div class="col md-col-4 sm-col-6 xs-col-12">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-usd"></i>
                </div>
                <h3 class="title">Finanças</h3>
                <ul class="list-unstyled description">
                    <li>Valuation</li>
                    <li>Gestão de Caixa</li>
                    <li>Apuração e Análise de Custos</li>
                    <li>Formação do Preço de Venda</li>
                </ul>
            </div>
        </div>
        <div class="col md-col-4 sm-col-12 xs-col-12">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-globe"></i>
                </div>
                <h3 class="title">Marketing</h3>
                <ul class="list-unstyled description">
                    <li>Pesquisa de Mercado</li>
                    <li>Plano de Marketing</li>
                    <li>Pesquisa de Opinião e Satisfação</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col md-offset-2 md-col-4 sm-col-6 xs-col-12">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-user"></i>
                </div>
                <h3 class="title">Gestão de Pessoas</h3>
                <ul class="list-unstyled description">
                    <li>Pesquisa de Clima Organizacional</li>
                </ul>
            </div>
        </div>
        <div class="col md-col-4 sm-col-6 xs-col-12">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-line-chart"></i>
                </div>
                <h3 class="title">Estratégia de Negócios</h3>
                <ul class="list-unstyled description">
                    <li>Plano de Negócios</li>
                    <li>Planejamento Estratégico</li>
                    <li>Mapeamento de Processos</li>
                    <li>Levantamento Patrimonial</li>
                </ul>
            </div>
        </div>
    </div>
</div>