.container {
    position: relative;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
    padding: 20px;
}

.description {
    margin-left: 20%;
    text-align: center;
    width: 200px;
    font-size: 20px;
}
.month-year{
    margin-left: 20%;
    text-align: right;
    width: 200px;
    font-size: 20px;
}