<div class="hero-image" [style.height]="height + 'px'">
    <app-hamburger-icon id="hamburger" (notify)="openMenu()"></app-hamburger-icon>
    <img src="../../../assets/logo.png"  class="img-responsive" id="logo" alt="Logo da Granbery Consultoria">
    <div class="hero-text">
        <p class="xs-text-1 title-hero">Granbery Consultoria</p>
        <p class="text-center">Administração & Sistema de Informação</p>
    </div>
    <button class="arrow right">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 50 80"
            xml:space="preserve">
            <polyline fill="none" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
          0.375,0.375 45.63,38.087 0.375,75.8 " />
        </svg>
    </button>
</div>


<div class="menu" id="menu" [ngClass]="{'active' : valueClick, 'inactive': !valueClick}" [style.height]="height + 'px'">
    <ul class="ul-menu" *ngIf="valueClick">
        <li class="li-menu">
            <a>
                <span class="link-span">
                    <span class="white-row"></span>
                    <span class="link-title">Home</span>
                </span>
            </a>
        </li>
        <li class="li-menu">
            <a [routerLink]="['institucional']">
                <span class="link-span">
                    <span class="white-row"></span>
                    <span class="link-title">Institucional</span>
                </span>
            </a>
        </li>
        <!-- <li class="li-menu">
            <a>
                <span class="link-span">
                    <span class="white-row"></span>
                    <span class="link-title">Blog</span>
                </span>
            </a>
        </li> -->
    </ul>
</div>