/* Hero-image creation */
.hero-image {
    height: 90vh;
    background-image: url("../../../assets/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100px;
    margin-left: 10%;
}
ul {
    display: flex;
    padding: 25px;
    list-style: none;
}

ul a {
    color: white !important;
    text-decoration: none !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
nav {
    width: 100vw;
    position: fixed;
    transition: .3s;
    background-color: transparent !important;
}

.scrolling {
    background-color: #1f3a93 !important;
    z-index: 1000;
}
.scrolling a {
    color: white;
}