<section class="hero-image" id="menu">
    <nav class="menu navbar navbar-expand-lg navbar-light bg-light">
        <div class="col col-md-6">
            <a href="#menu"><img src="../../../assets/logo.png" alt="Logo"></a>
        </div>
        <button class="navbar-toggler" style="background-color: #fff; margin-right: 20px;" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav col col-md-6">
                <li class="nav-item active">
                    <a class="nav-link" href="#menu">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#awards">Conquistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testimonials">Depoimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#footer">Contato</a>
                </li>
            </ul>
        </div>
    </nav>
</section>